<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- tailwind link -->
    <link href="./assets/tailwind/output.css" rel="stylesheet" />

     <!-- google font link -->
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

<body class="bg-primary font-roboto">

    <!-- start first navbar -->
    <nav class="py-2 px-4 bg-white shadow md:flex md:items-center md:justify-between">
        <div class="flex justify-between items-center ">

            <!-- desktop logo -->
            <img class="md:block hidden" src="./assets/images/logo.svg" alt="">

            <!-- mobile logo -->
            <img  class="md:hidden w-[90px] order-2" src="./assets/images/headerLogo.svg " alt="">

            <!-- mobile login -->
            <button class="bg-tertiary text-textWhite py-2 px-6 rounded md:hidden order-3">Login</button>

            <!-- mobile menu -->
            <span class=" text-3xl order-1 cursor-pointer mx-2 md:hidden block">
                <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
            </span>
        </div>

        <ul
            class="md:flex md:items-center z-[10] border border-tertiary md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-md hover:text-cyan-500 duration-500">Home</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-md hover:text-cyan-500 duration-500">About</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-md hover:text-cyan-500 duration-500">Service</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-md hover:text-cyan-500 duration-500">Help</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-md hover:text-red-800 duration-500">Contact</a>
            </li>

            <button
                class="bg-tertiary text-textWhite  duration-500 py-2 px-6 hidden md:block mx-4 hover:bg-[] rounded ">
                Login
            </button>
            <h2 class=""></h2>
        </ul>
    </nav>
    <!-- end first navbar -->

    <!-- start second navbar -->
    <nav class="bg-secondary py-2 px-3 md:px-7">
        <div class="flex justify-between">
      <div class="flex">
        
        <!-- desktop categories -->
        <div id="dropdownButton" class="relative  md:block hidden px-3 py-2  bg-tertiary text-textWhite rounded-l-md cursor-pointer">
          Categories
                <img class="inline" src="./assets/images/down-arrow.png" alt="">
          
           

            <ul id="dropdownMenu" class="absolute hidden mt-5 py-2 w-[300px] bg-white rounded-md shadow-lg">
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Womens’s & Girls’s Fashion</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Mens’s & Boys’ Fashion</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Sports & Outdoors</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Health & Beauty</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Jewelry </a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Watches</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Home & Lifestyle</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Mother & Baby</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Bags</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Groceries</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Tv & Home Appliances</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Electronics Devices</a></li>
                <li><a href="#" class="block bg:bg-white px-4 py-2 text-gray-800 hover:bg-tertiary hover:text-textWhite duration-400">Others</a></li>
              </ul>
        </div>
        <img class="h-[40px]" src="./assets/images/category.svg" alt="">
        <input type="search" placeholder="Search..." class="md:text-textBlack px-3  md:w-[300px] w-[200px] rounded-md md:rounded-r-md">
      </div>
      <img src="./assets/images/cart.svg" alt="">
    </div>
    </nav>
    <!-- end second navbar -->



 
<script>
const dropdownButton = document.getElementById('dropdownButton');
const dropdownMenu = document.getElementById('dropdownMenu');

dropdownButton.addEventListener('click', () => {
  dropdownMenu.classList.toggle('hidden');
});

document.addEventListener('click', (event) => {
  const target = event.target;
  if (!target.closest('.relative')) {
    dropdownMenu.classList.add('hidden');
  }
});

</script>       



<!-- <svg class="ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10 12l-6-6h12l-6 6z"/>
  </svg> -->





<!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="./assets/js/navbarMobile.js"></script>

</body>

</html>